<section class="content search-section">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Search Artists</h3>
        </div>
        <div class="box-body">
          <%= form_tag('/artists/search', class: "form-horizontal", method: :get, id: 'contact-search-form') do %>
            <div class="input-group" id="contacts-remote">
              <input id="common-search" placeholder="Enter country name" class="form-control" name="keyword" value="<%= params[:keyword] %>" data-trim-value="true" />
              <div class="input-group-btn">
                <button class="btn btn-success" type="submit">Search</button>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
