---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=294012135d9809c38ac3b9dfae5a17f2&country=spain&format=json&limit=5&method=geo.gettopartists&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"topartists":{"artist":[{"name":"David Bowie","listeners":"3159590","mbid":"5441c29d-3602-4898-b1a1-b77fa23b8e50","url":"https://www.last.fm/music/David+Bowie","streamable":"0","image":[{"#text":"https://lastfm-img2.akamaized.net/i/u/34s/31a51f6e3ec647c8997150ec837891c7.png","size":"small"},{"#text":"https://lastfm-img2.akamaized.net/i/u/64s/31a51f6e3ec647c8997150ec837891c7.png","size":"medium"},{"#text":"https://lastfm-img2.akamaized.net/i/u/174s/31a51f6e3ec647c8997150ec837891c7.png","size":"large"},{"#text":"https://lastfm-img2.akamaized.net/i/u/300x300/31a51f6e3ec647c8997150ec837891c7.png","size":"extralarge"},{"#text":"https://lastfm-img2.akamaized.net/i/u/31a51f6e3ec647c8997150ec837891c7.png","size":"mega"}]},{"name":"Coldplay","listeners":"5171272","mbid":"cc197bad-d[...]
