---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=294012135d9809c38ac3b9dfae5a17f2&country=spain&format=json&limit=5&method=geo.gettopartists&page=90600
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"topartists":{"artist":[],"@attr":{"country":"Spain","page":"90600","perPage":"5","totalPages":"90525","total":"452625"}}}'
  recorded_at: Sun, 12 Mar 2017 19:30:48 GMT
recorded_with: VCR 3.0.3
