---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=294012135d9809c38ac3b9dfae5a17f2&country=spain&format=json&limit=5&method=geo.gettopartists&page=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"topartists":{"artist":[{"name":"Tame Impala","listeners":"923993","mbid":"63aa26c3-d59b-4da4-84ac-716b54f1ef4d","url":"https://www.last.fm/music/Tame+Impala","streamable":"0","image":[{"#text":"https://lastfm-img2.akamaized.net/i/u/34s/b76c4ac1718d4f33aabbb0096a1cc67e.png","size":"small"},{"#text":"https://lastfm-img2.akamaized.net/i/u/64s/b76c4ac1718d4f33aabbb0096a1cc67e.png","size":"medium"},{"#text":"https://lastfm-img2.akamaized.net/i/u/174s/b76c4ac1718d4f33aabbb0096a1cc67e.png","size":"large"},{"#text":"https://lastfm-img2.akamaized.net/i/u/300x300/b76c4ac1718d4f33aabbb0096a1cc67e.png","size":"extralarge"},{"#text":"https://lastfm-img2.akamaized.net/i/u/b76c4ac1718d4f33aabbb0096a1cc67e.png","size":"mega"}]},{"name":"Arctic
        Monkeys","listeners":"3288155","mbi[...]
