---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=294012135d9809c38ac3b9dfae5a17f2&format=json&mbid=5441c29d-3602-4898-b1a1-b77fa23b8e50&method=artist.getTopTracks
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"toptracks":{"track":[{"name":"Ziggy Stardust","playcount":"4228181","listeners":"715100","mbid":"b1b29af7-2190-4d0f-9aa8-fe397105679c","url":"https://www.last.fm/music/David+Bowie/_/Ziggy+Stardust","streamable":"0","artist":{"name":"David
        Bowie","mbid":"5441c29d-3602-4898-b1a1-b77fa23b8e50","url":"https://www.last.fm/music/David+Bowie"},"image":[{"#text":"https://lastfm-img2.akamaized.net/i/u/34s/31a51f6e3ec647c8997150ec837891c7.png","size":"small"},{"#text":"https://lastfm-img2.akamaized.net/i/u/64s/31a51f6e3ec647c8997150ec837891c7.png","size":"medium"},{"#text":"https://lastfm-img2.akamaized.net/i/u/174s/31a51f6e3ec647c8997150ec837891c7.png","size":"large"},{"#text":"https://lastfm-img2.akamaized.net/i/u/300x300/31a51f6e3ec647c8997150ec837891c7.png","size":"extralarge"}],"@attr":{"rank":"1"}},{"name":"Space
        Oddity","playcount":"4105208","listeners":"674367","mbid":"2de369a2-a44f-470a-a76f-e297586b5c36","url":"https://www.last.fm/music/David+Bowie/_/Space+Oddity","streamable":"0","artist":{"name":"David
        Bowie","mbid":"5441c29d-3602-4898-b1a1-b77fa23b8e50","url":"https://www.last.fm/music/David+Bowie"},"image":[{"#text":"https://lastfm-img2.akamaized.net/i/u/34s/31a51f6e3ec647c8997150ec837891c7.png","size":"small"},{"#text":"https://lastfm-img2.akamaized.net/i/u/6[...]
