<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu">
      <li>
        <a href="/"><i class='fa fa-dashboard'></i> <span>Search</span></a>
      </li>
    </ul>
  </section>
</aside>
